@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.btn {
  height: 40px;
  width: 40px;
}




#dropdown {
  font-family: 'FontAwesome', 'Second Font name';
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  height: 20px;
  width: 20px;
}

#dropdown::-ms-expand {
  display: none;
}


